:root{
    /*Colores
    --cn:#00000;
    --cm:#AD0BDE;
    --ca:#0097EB;
    --cc:#EBCCBB;
    --cr:#F53147;
    font-zise
    --fzc: 1.6rem;
    --fzm: 1.8rem;
    --fzg: 2.2rem;*/
}   
body{
    background-color: steelblue;
}

header{
    width: 100%;
    height: 100px;
    /*background-color: red;*/
}
.card-menu{
    /*position: relative;*/
    width: 100%;
    height:100%;
    display: flex;
}
.menu-responsive {
    display: none;
}
.card-menu-mobile{
    position: absolute;
    width: 100%;
    height:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /*background-color: saddlebrown;*/
}
#card-menu-mobile-img{
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;min-height: 220px;
    margin-bottom: 4px;
    background-color: black;
}
.links ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}
.links ul li{
        margin: 5%;
}
.links ul li a{
    font-size: 5rem;
    border: .1rem solid black;
    
}
#banner{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: var(--cm);
}
#boton-menu{
    position: absolute;
    justify-content: end;
    /*background-color:slateblue;*/
    width: 150px;
    max-width: 150px;
    
    height: 60px;
}

@media(min-width: 480px){
    body{background-color: red;}
}
@media(min-width: 650px){
    body{background-color: blue;}
}
@media(min-width: 767px){
    body{background-color: blueviolet;}
}
@media(min-width: 950px){
    body{background-color: saddlebrown;}
}